<div class="right">
    <h2>CYCLING NEWS AND UPDATES</h2>
    <ul>
      <p><a href="https://www.cyclingnews.com/"style="text-decoration: none;">Cycling News</a></p>
      <p><a href="https://www.cyclingweekly.com/"style="text-decoration: none;">Cycling Weekly</a></p>
      <p><a href="https://www.bikeradar.com/"style="text-decoration: none;">Bike Radar</a></p>
      <p><a href="https://road.cc/"style="text-decoration: none;">Road.cc</a></p>
      <p><a href="https://www.cyclingplus.com/"style="text-decoration: none;">Cycling Plus</a></p>
      <p><a href="https://www.cyclist.co.uk/"style="text-decoration: none;">Cyclist</a></p>
      <p><a href="https://pelotonmagazine.com/"style="text-decoration: none;">Peleton Magazine</a></p>
      <p><a href="https://www.velonews.com/"style="text-decoration: none;">VeloNews</a></p>
      <p><a href="https://cyclingtips.com/"style="text-decoration: none;">Cycling Tips</a></p>
      <p><a href="https://www.cxmagazine.com/"style="text-decoration: none;">Cyclocross Magazine</a></p>
    </ul>
  </div>